*{
    margin:0;
    padding: 0;
}

body,html{
    
    
width:100%;
height:100%;
    background-color:grey;
    overflow: hidden;
   
}



.body{
    position: absolute;
    height:50%;
    width:60%;
    margin:15% 20%;
    background:white;
    
    
}

.profilepic{
    position: absolute;
    height:100%;
    width:40%;
    top:20%;
   
}

.resume{
    position: absolute;
    height:100%;
    width:60%;
   left:40%;
    font-size:32px;
    font-weight:300;

}

.resume span{
    font-weight:700;
}

.course h1{

    font-size:20px;
    font-weight:100;
}

.description{
    position:absolute;
  
    top:50%;
    height:50%;
    width:100%;
     font-size:20px;
    font-weight:200;
   
} 

.footer{
    position:absolute;
    top:90%;
    width:100%;
    height:10%;
    background:red;
}

.top-half{
    top:0%;
    width:100%;
    height:50%;
    position: absolute;
    background-color: #0EB57D;
}

.nav{
    position: absolute;
    height: 30%;
    width:100%;
    background-color: pink;
}


.home{
    position: absolute;
    z-index:5;
}

 .btn{
       position: absolute;
       left:95%;
       top:25%;
       
   }
   
   .back{
       position: absolute;
   }
  