*{
    margin:0;
    padding: 0;
}

body,html{
    
    
width:100%;
height:100%;
    background-color:grey;
    overflow: hidden;
}


.me{
    position: absolute;
    left:50%;
    border-radius: 50%;
    top:12%;
}



.btn-success{
    position:absolute;
    top:85%;
    left:95%;
    z-index:2;
}

.back{
    position:absolute;
    top:81%;
}



.navbar{
    position: fixed;
    background-color:black
    
    
}

.navbar a {
  float: left;
  font-size: 16px;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover{
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    overflow: hidden;
    }



    .description{
        position: absolute;
        top:50%;
        width:100%;
    }
    
    .im{
        position: absolute;
        top:40%;
        width:100%;
    }
    
    .course{
        position: absolute;
        top:45%;
        width:100%;
    }
    
    h1{
        position: absolute;
        left:40%;
    }
    
    h4{
        position: absolute;
        left:43%;
    }
    
    ul{
        position: absolute;
        left:45%;
        font-size: 35px;
    }