 *{
    margin:0;
    padding: 0;
}
 
.main{
    position:absolute;
    width:100%;
    height:100%;
    background-image: url("https://hdwallsource.com/img/2017/12/white-suit-widescreen-wallpaper-60189-61985-hd-wallpapers.jpg");
    background-size: cover;
    
}


.btn{
    position:absolute;
    top:95%;
    left:95%;
    z-index:2;
}

.back{
    position:absolute;
    top:90%;
    z-index:2;
    
}

.img-section{
    position:absolute;
    width:50%;
    height:25%;
    left:25%;
}

.roco-img{
    position:relative;
    border-radius:50%;
    left:40%;
    top:10%;
}

.roco-bio{
    position:absolute;
    top:25%;
    height:25%;
    width:50%;
    left:25%;
}

.ucc-container{
    position:absolute;
    top:50%;
    height:25%;
    width:50%;
    left:25%;
    
}

.ucc-bio{
    position:absolute;
    top:75%;
    height:25%;
    width:50%;
    left:25%;
}

.ucc-img{
    position:relative;
    border-radius:50%;
    left:40%;
    top:10%;
    
}

ul{
    position: absolute;
    font-size: 30px;
    z-index: 5;
}

ul li{
    display: inline;
    color: black;
    padding:14px 17px;
    font-family: 'Leckerli One', cursive;
}

ul li a{
    color:black;
}


ul li a:hover{
    text-decoration: none;
}