#section1{
            background-color:rgb(0, 153, 51);
            background-image: url("https://wallpaperstudio10.com/static/wpdb/wallpapers/1920x1080/164062.jpg");
            background-size: cover;
}



#section2{
            background-color:rgb(255, 102, 102);
            background-image: url("https://hdwallsource.com/img/2014/3/great-wall-of-china-wallpaper-36530-37363-hd-wallpapers.jpg");
            background-size: cover;
    
}

#section3{
            background-color:rgb(51,153,204);
            background-image: url("http://www.kubipet.com/data/out/121/iwp779812584-nyc-wallpapers.jpg");
            background-size: cover;
            
            }
            
.section{
            text-align:center;
            color:white;
}


.pagepiling{
    position: absolute;
    width:100%;
    height:100%;
 
}

  
  ul{
      position: absolute;
      z-index: 5;
      top:0;
  }
  
  ul li{
      font-size: 30px;
      display: inline;
      padding: 14px 17px;
      font-family: 'Leckerli One', cursive;
  }
  
  ul li a{
      color:black;
      text-decoration: none;
  }

