
h1{
    position: absolute;
    left:45%;
    top:25%;
}

.logo{
    position: absolute;
    top:15%;
    left:40%;
}

p{
    position: absolute;
   
    text-align:center;
}

.description{
    position: absolute;
    width:35%;
    left:35%;
    top:30%;
    height: 50%
}


ul{
      position: absolute;
      z-index: 5;
      top:0;
  }
  
  ul li{
      font-size: 30px;
      display: inline;
      padding: 14px 17px;
      font-family: 'Leckerli One', cursive;
  }
  
  ul li a{
      color:black;
      text-decoration: none;
  }